<!DOCTYPE html>
<html>
<head>
  <title>CC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta name="google-signin-client_id" content="315808160827-40u5j7ej4t43sruumkoagffsa8mql83v.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script> window.onLoadCallback = function(){ gapi.auth2.init({ client_id: 'filler_text_for_client_id.apps.googleusercontent.com' }); } </script>
</head>
<body>
    
           <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>



<div class="data">
<p>Email Address</p>
                <p id="email" class="alert alert-danger"></p>
                <button onclick="signOut()" class="btn btn-danger">Sign Out</button>

</div>
        <script>
    function onSignIn(googleUser){
        var profile = googleUser.getBasicProfile();
        $(".g-signin2").css("display", "none");
        $(".data").css("display","block");
        $("#email").text(profile.getEmail);

        window.location.href = "/main2" ;

    }
    function signOut(googleUser){
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function(){
            alert("successfully logged out");
            $(".data").css("display","none");
            $(".g-signin2").css("display", "block");
        });

    }

var profile ,fname,lname,email ; 

        gapi.load('auth2',function(){
console.log(fname+"HEREEEEE?");

var GoogleUser = GoogleAuth.currentUser.get();
// if(GoogleUser.isSignedIn())
// {
profile = GoogleUser.getBasicProfile();
  
   fname =   profile.getGivenName();

   lname =   profile.getFamilyName();
  // var lname =   $("#email").text(profile.getFamilyName);
  email =   profile.getEmail();

console.log(fname+"HEREEEEE?");

document.cookie = fname ;
    

        });
    


    </script>
</body>
</html>