<!DOCTYPE html>
<html>
<head>
  <title>CC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta name="google-signin-client_id" content="916063472194-07dum0c0m3gq6gg7oa2dv9508fmb3kk6.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    
           <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
<div class="data">
<p>Email Address</p>
                <p id="email" class="alert alert-danger"></p>
                <button onclick="signOut()" class="btn btn-danger">Sign Out</button>

</div>
        <script>
    function onSignIn(googleUser){
        var profile = googleUser.getBasicProfile();
        $(".g-signin2").css("display", "none");
        $(".data").css("display","block");
        $("#email").text(profile.getEmail);
    }
    function signOut(googleUser){
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function(){
            alert("successfully logged out");
            $(".data").css("display","none");
            $(".g-signin2").css("display", "block");
        });

    }

    </script>
</body>
</html>