<!DOCTYPE html>
<html>
<head>
    <title>SocialMedia</title>
    <link rel="stylesheet" type="text/css" href="css/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    
    <div class="loginsection">
        
        <div class="login">
            <a href="/vehicle">vehicle</a>
            <a href="/appliance">appliance</a>
            <a href="/power">emission</a>

        </div>
    </div>
    
    <script></script>
</body>
</html>